<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Table - Database</title>
    <script th:replace="common/head::static"></script>

</head>

<body id="page-top">
    <div id="wrapper">
        <script th:replace="common/Nav1::static"></script>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <script th:replace="common/Nav2::static"></script>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Job</h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Job Info</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                        <option value="10" selected="">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <p style="color: red" th:text="${msg}" th:if="${msg} != null"></p>
                            <div class="table-responsive table mt-2" id="dataTable1" role="grid" aria-describedby="dataTable_info">
                                <!-- Button trigger modal -->
                                <div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" th:fragment="postDiv">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">Post a job</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="add" method="post">
                                                        <p>companyName</p>
                                                        <input type="text" id="companyName" name="companyName">
                                                        <p>position</p>
                                                        <input type="text" id="position" name="position">
                                                        <p>location</p>
                                                        <input type="text" id="location" name="location">
                                                        <p>requirement</p>
                                                        <input type="text" id="requirement" name="requirement">
                                                        <p>salary</p>
                                                        <input type="text" id="salary" name="salary">
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button trigger modal -->
                                <div>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                        Add
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modify" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog" th:fragment="postDiv">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modifyLabel">modify</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="add" method="post">
                                                        <p>companyName</p>
                                                        <input type="text" id="modifycompanyName" name="companyName">
                                                        <p>position</p>
                                                        <input type="text" id="modifyposition" name="position">
                                                        <p>location</p>
                                                        <input type="text" id="modifylocation" name="location">
                                                        <p>requirement</p>
                                                        <input type="text" id="modifyrequirement" name="requirement">
                                                        <p>salary</p>
                                                        <input type="text" id="modifysalary" name="salary">
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                    <tr>
                                        <th>Poster Name</th>
                                        <th>Company Name</th>
                                        <th>Position</th>
                                        <th>Location</th>
                                        <th>Requirement</th>
                                        <th>Salary</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="info:${list}">
                                        <td th:text="${info.getPublishInfoId()}"></td>
                                        <td th:text="${info.getTitle()}"></td>
                                        <td th:text="${info.getProfile()}"></td>
                                        <td th:text="${info.getLocation()}"></td>
                                        <td th:text="${info.getRequirement()}"></td>
                                        <td th:text="${info.getSalary()}"></td>
                                        <td>
                                            <a th:href="@{/updateuser(id=${info.getPublishInfoId()})}">modify</a>
                                            <a onclick="return confirm('确定删除吗？')" th:href="@{/delete)}">delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © fp O 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
</body>

</html>